In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn

In [2]:
dropout = pd.read_csv("./data/dropout-ratio-2012-2015.csv")
gross_enrollment = pd.read_csv("./data/gross-enrollment-ratio-2013-2016.csv")
comps = pd.read_csv("./data/percentage-of-schools-with-comps-2013-2016.csv")
electricity = pd.read_csv("./data/percentage-of-schools-with-electricity-2013-2016.csv")
water_facility = pd.read_csv("./data/percentage-of-schools-with-water-facility-2013-2016.csv")
boys_toilets = pd.read_csv("./data/schools-with-boys-toilet-2013-2016.csv")
girls_toilets = pd.read_csv("./data/schools-with-girls-toilet-2013-2016.csv")

In [3]:
dropout

,State_UT,year,Primary_Boys,Primary_Girls,Primary_Total,Upper Primary_Boys,Upper Primary_Girls,Upper Primary_Total,Secondary _Boys,Secondary _Girls,Secondary _Total,HrSecondary_Boys,HrSecondary_Girls,HrSecondary_Total
0,A & N Islands,2012-13,0.83,0.51,0.68,Uppe_r_Primary,1.09,1.23,5.57,5.55,5.56,17.66,10.15,14.14
1,A & N Islands,2013-14,1.35,1.06,1.21,NR,1.54,0.51,8.36,5.98,7.2,18.94,12.2,15.87
2,A & N Islands,2014-15,0.47,0.55,0.51,1.44,1.95,1.69,11.47,8.16,9.87,21.05,12.21,16.93
3,Andhra Pradesh,2012-13,3.3,3.05,3.18,3.21,3.51,3.36,12.21,13.25,12.72,2.66,NR,0.35
4,Andhra Pradesh,2013-14,4.31,4.39,4.35,3.46,4.12,3.78,11.95,13.37,12.65,12.65,10.85,11.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,West Bengal,2013-14,3.44,2.37,2.91,5.63,3.1,4.31,16.73,19.77,18.34,8.03,7.76,7.9
106,West Bengal,2014-15,2.13,0.79,1.47,5.84,2.88,4.3,16.33,19.06,17.8,8.18,8.04,8.11
107,All India,2012-13,4.68,4.66,4.67,2.3,4.01,3.13,14.54,14.54,14.54,NR,NR,NR
108,All India,2013-14,4.53,4.14,4.34,3.09,4.49,3.77,17.93,17.79,17.86,1.48,1.61,1.54
109,All India,2014-15,4.36,3.88,4.13,3.49,4.6,4.03,17.21,16.88,17.06,0.25,NR,NR

In [10]:
dropout.columns

Index(['State_UT', 'year', 'Primary_Boys', 'Primary_Girls', 'Primary_Total',
       'Upper Primary_Boys', 'Upper Primary_Girls', 'Upper Primary_Total',
       'Secondary _Boys', 'Secondary _Girls', 'Secondary _Total',
       'HrSecondary_Boys', 'HrSecondary_Girls', 'HrSecondary_Total'],
      dtype='object')

In [12]:
gross_enrollment

,State_UT,Year,Primary_Boys,Primary_Girls,Primary_Total,Upper_Primary_Boys,Upper_Primary_Girls,Upper_Primary_Total,Secondary_Boys,Secondary_Girls,Secondary_Total,Higher_Secondary_Boys,Higher_Secondary_Girls,Higher_Secondary_Total
0,Andaman & Nicobar Islands,2013-14,95.88,91.97,93.93,94.70,88.98,91.83,102.89,97.36,100.16,105.4,96.61,101.28
1,Andhra Pradesh,2013-14,96.62,96.87,96.74,82.81,84.38,83.57,73.76,76.77,75.20,59.83,60.83,60.3
2,Arunachal Pradesh,2013-14,129.12,127.77,128.46,112.64,115.27,113.94,88.37,84.89,86.65,65.16,65.38,65.27
3,Assam,2013-14,111.77,115.16,113.43,87.85,98.69,93.13,65.60,77.20,71.21,31.78,34.27,32.94
4,Bihar,2013-14,95.03,101.15,97.96,80.60,94.92,87.24,57.66,62.96,60.08,23.33,24.17,23.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Tripura,2014-15,109.50,110.49,109.98,118.80,122.38,120.54,119.81,121.36,120.57,46.48,40.05,43.4
106,Uttar Pradesh,2014-15,91.54,98.93,95.00,68.14,82.28,74.54,67.85,67.73,67.79,65.36,62.01,63.75
107,Uttaranchal,2014-15,100.11,101.02,100.54,84.20,87.03,85.53,90.99,89.65,90.35,79.82,80.95,80.36
108,West Bengal,2014-15,101.78,102.91,102.33,96.16,110.67,103.17,70.67,86.05,78.17,48.27,51.82,49.95
109,All India,2014-15,98.85,101.43,100.08,87.71,95.29,91.24,78.13,78.94,78.51,54.57,53.81,54.21

In [13]:
comps

,State_UT,year,Primary_Only,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,Sec_with_HrSec.,HrSec_Only,All Schools
0,Andaman & Nicobar Islands,2013-14,30.40,73.68,89.74,0.00,100.00,97.92,0.00,0.00,100.00,0.00,53.06
1,Andaman & Nicobar Islands,2014-15,30.94,76.54,92.11,100.00,94.74,100.00,0.00,0.00,100.00,0.00,57.25
2,Andaman & Nicobar Islands,2015-16,28.44,78.57,92.50,0.00,94.74,100.00,0.00,0.00,100.00,0.00,57.00
3,Andhra Pradesh,2013-14,12.73,42.72,86.99,45.45,17.07,68.18,73.23,60.00,33.33,19.32,29.57
4,Andhra Pradesh,2014-15,10.29,44.15,88.46,50.00,62.22,68.38,76.59,70.97,66.67,41.60,28.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,West Bengal,2014-15,4.55,39.79,70.27,9.32,78.72,61.28,49.07,0.00,0.00,66.67,12.13
106,West Bengal,2015-16,4.69,41.56,75.71,9.97,79.93,63.91,50.49,0.00,100.00,66.67,12.67
107,All India,2013-14,9.25,42.14,82.67,18.22,76.50,64.69,59.25,44.80,39.31,26.65,24.08
108,All India,2014-15,10.32,44.39,81.96,19.40,79.86,62.66,68.11,51.27,50.26,47.96,26.42
109,All India,2015-16,10.36,45.46,79.06,19.78,82.04,68.67,68.40,53.05,54.05,55.72,27.31